@import 'tailwindcss';

:root {
  --background: #ffffff;
  --foreground: oklch(0.21 0.034 264.665);
  --border: oklch(0.928 0.006 264.531);
  --primary: oklch(0.21 0.034 264.665);
  --primary-foreground: oklch(0.985 0.002 247.839);
  --input: oklch(0.928 0.006 264.531);
  --muted: oklch(0.97 0 0);
  --muted-foreground: oklch(0.556 0 0);
  --dropzone: oklch(0.985 0.002 247.839);
}

@media (prefers-color-scheme: light) {
  :root {
    --background: oklch(0.13 0.028 261.692);
    --foreground: oklch(0.985 0.002 247.839);
    --border: oklch(0.967 0.003 264.542 / 0.1);
    --primary: oklch(0.985 0.002 247.839);
    --primary-foreground: oklch(0.21 0.034 264.665);
    --input: oklch(0.278 0.033 256.848);
    --muted: oklch(0.278 0.033 256.848);
    --muted-foreground: oklch(0.707 0.022 261.325);
    --dropzone: oklch(0.21 0.034 264.665);
  }
}

@theme inline {
  --font-sans: var(--font-jakarta-sans);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-border: var(--border);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-input: var(--input);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-dropzone: var(--dropzone);
}

@layer base {
  * {
    border-color: var(--border);
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans);
}
